body {
    background-image: url(https://az616578.vo.msecnd.net/files/2016/11/05/636139646829249547453316934_10tb-dogsperm01-superJumbo.jpg);
    background-size: cover;
}

h1, p {
    color: gold;
}

#slogan {
	color: #FFF;
}